In [123]:
import pandas as pd

In [124]:
df = pd.read_csv('bird_dataset.csv', low_memory=False) #column 39
ranges = pd.read_csv('breeding_range.csv', index_col=0)

In [125]:
ranges.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11072 entries, 5 to 33878
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   11.1               11040 non-null  float64
 1   10.2               11040 non-null  float64
 2   Rank               11072 non-null  object
 3   SP; Extinct (†)    160 non-null    object
 4   English name       11072 non-null  object
 5   Counters           11072 non-null  object
 6   Scientific Name    11072 non-null  object
 7   Authority          11072 non-null  object
 8   Breeding Range     11072 non-null  object
 9   Nonbreeding Range  778 non-null    object
 10  Code               2990 non-null   object
 11  Comment            3009 non-null   object
 12  breeding_range     10605 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.2+ MB

In [126]:
ranges.columns

Index(['11.1', '10.2', 'Rank', 'SP; Extinct (†)', 'English name', 'Counters',
       'Scientific Name', 'Authority', 'Breeding Range', 'Nonbreeding Range',
       'Code', 'Comment', 'breeding_range'],
      dtype='object')

In [127]:
columns= ['English name', 'Scientific Name', 'breeding_range']

In [128]:
ranges= ranges[columns].copy()

In [129]:
ranges.head()

           English name         Scientific Name breeding_range
5        Common Ostrich        Struthio camelus             AF
10       Somali Ostrich  Struthio molybdophanes             AF
15         Greater Rhea          Rhea americana             SA
21          Lesser Rhea            Rhea pennata             SA
29  Southern Brown Kiwi       Apteryx australis             AU

### Merge

In [130]:
english_merge = df.merge(ranges, how='left', right_on='English name', left_on='English')

In [131]:
sci_merge = df.merge(ranges, how='left', right_on='Scientific Name', left_on='Scientific')

In [132]:
combine_df = pd.concat([english_merge, sci_merge])

In [133]:
combine_df

,SpecID,PassNonPass,IOCOrder,BLFamilyLatin,BLFamilyEnglish,BLFamSequID,Taxo,Scientific,English,Diet-Inv,...,marine_intertidal,marine_neritic,marine_oceanic,rocky_areas,savanna,shrubland,wetlands_inland,English name_y,Scientific Name,breeding_range
0,37.0,Nonpasseriformes,Rheiformes,Rheidae,Rheas,3.0,BL3,Rhea americana,Greater Rhea,20.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,Greater Rhea,Rhea americana,SA
1,38.0,Nonpasseriformes,Rheiformes,Rheidae,Rheas,3.0,BL3,Rhea pennata,Lesser Rhea,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Lesser Rhea,Rhea pennata,SA
2,45.0,Nonpasseriformes,Casuariiformes,Casuariidae,Cassowaries,4.0,BL3,Casuarius casuarius,Southern Cassowary,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Southern Cassowary,Casuarius casuarius,AU
3,46.0,Nonpasseriformes,Casuariiformes,Casuariidae,Cassowaries,4.0,BL3,Casuarius bennetti,Dwarf Cassowary,10.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,Dwarf Cassowary,Casuarius bennetti,AU
4,47.0,Nonpasseriformes,Casuariiformes,Casuariidae,Cassowaries,4.0,BL3,Casuarius unappendiculatus,Northern Cassowary,20.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,Northern Cassowary,Casuarius unappendiculatus,AU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9592,20067.0,Passeriformes,Passeriformes,Timaliidae,Babblers and parrotbills,163.0,BL3,Micromacronus sordidus,Mindanao Miniature-babbler,90.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,Mindanao Miniature Babbler,Micromacronus sordidus,OR
9593,20087.0,Passeriformes,Passeriformes,Passeridae,"Sparrows, snowfinches and allies",183.0,BL3,Passer hemileucus,Abd 'Al Kuri Sparrow,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Abd al-Kuri Sparrow,Passer hemileucus,AF
9594,20091.0,Passeriformes,Passeriformes,Fringillidae,Finches and Hawaiian honeycreepers,188.0,BL3,Carduelis corsicana,Mediterranean Citril Finch,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Corsican Finch,Carduelis corsicana,EU
9595,20095.0,Passeriformes,Passeriformes,Emberizidae,"Buntings, American sparrows and allies",192.0,BL3,Nesospiza questi,Nightingale Bunting,40.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Nightingale Island Finch,Nesospiza questi,AO
9596,20100.0,Passeriformes,Passeriformes,Hirundinidae,Swallows and martins,156.0,BL3,Eurochelidon sirintarae,White-eyed River-martin,100.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN

In [134]:
#combine_df.dropna(subset=['breeding_range'], axis=0, inplace=True)

In [135]:
combine_df.drop_duplicates(subset=['Scientific'], inplace=True)

In [40]:
ranges.shape

(11072, 3)

In [41]:
df.shape

(9597, 84)

In [136]:
combine_df.shape

(9597, 87)

In [ ]:
combine_df.to_csv('birds')

### Investigate loss

In [66]:
ranges.head()

           English name         Scientific Name breeding_range
5        Common Ostrich        Struthio camelus             AF
10       Somali Ostrich  Struthio molybdophanes             AF
15         Greater Rhea          Rhea americana             SA
21          Lesser Rhea            Rhea pennata             SA
29  Southern Brown Kiwi       Apteryx australis             AU

In [53]:
df[df['Scientific']=='Rhea pennata']

,SpecID,PassNonPass,IOCOrder,BLFamilyLatin,BLFamilyEnglish,BLFamSequID,Taxo,Scientific,English,Diet-Inv,...,grassland,introduced_vegetation,marine_coastal_supratidal,marine_intertidal,marine_neritic,marine_oceanic,rocky_areas,savanna,shrubland,wetlands_inland
1,38.0,Nonpasseriformes,Rheiformes,Rheidae,Rheas,3.0,BL3,Rhea pennata,Lesser Rhea,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [114]:
ranges['id'] = ranges['Scientific Name'].map(lambda x: x.lower().replace(" ",""))
ranges.head()

,11.1,10.2,Rank,SP; Extinct (†),English name,Counters,Scientific Name,Authority,Breeding Range,Nonbreeding Range,Code,Comment,breeding_range,eng_id,id
5,7.0,7.0,Species,NaN,Common Ostrich,Struthionidae,Struthio camelus,"Linnaeus, 1758","AF : w, c, e, sw",NaN,TAX,See Miller et al. (2011) re genetic structure ...,AF,commonostrich,struthiocamelus
10,12.0,12.0,Species,NaN,Somali Ostrich,Struthionidae,Struthio molybdophanes,"Reichenow, 1883",AF : Somalia and n Kenya,NaN,AS,Genetic analyses support species recognition o...,AF,somaliostrich,struthiomolybdophanes
15,17.0,17.0,Species,NaN,Greater Rhea,Rheidae,Rhea americana,"(Linnaeus, 1758)",SA : se,NaN,NaN,NaN,SA,greaterrhea,rheaamericana
21,23.0,23.0,Species,NaN,Lesser Rhea,Rheidae,Rhea pennata,"d'Orbigny, 1837",SA : Southern Cone,NaN,"TAX, ENG",Pterocnemia merged into Rhea (SACC 348); chang...,SA,lesserrhea,rheapennata
29,31.0,31.0,Species,NaN,Southern Brown Kiwi,Apterygidae,Apteryx australis,"Shaw, 1813",AU : New Zealand,NaN,NaN,NaN,AU,southernbrownkiwi,apteryxaustralis

In [115]:
df['id'] = df['Scientific'].map(lambda x: x.lower().replace(" ",""))
df.head()

,SpecID,PassNonPass,IOCOrder,BLFamilyLatin,BLFamilyEnglish,BLFamSequID,Taxo,Scientific,English,Diet-Inv,...,marine_coastal_supratidal,marine_intertidal,marine_neritic,marine_oceanic,rocky_areas,savanna,shrubland,wetlands_inland,eng_id,id
0,37.0,Nonpasseriformes,Rheiformes,Rheidae,Rheas,3.0,BL3,Rhea americana,Greater Rhea,20.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,greaterrhea,rheaamericana
1,38.0,Nonpasseriformes,Rheiformes,Rheidae,Rheas,3.0,BL3,Rhea pennata,Lesser Rhea,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,lesserrhea,rheapennata
2,45.0,Nonpasseriformes,Casuariiformes,Casuariidae,Cassowaries,4.0,BL3,Casuarius casuarius,Southern Cassowary,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,southerncassowary,casuariuscasuarius
3,46.0,Nonpasseriformes,Casuariiformes,Casuariidae,Cassowaries,4.0,BL3,Casuarius bennetti,Dwarf Cassowary,10.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,dwarfcassowary,casuariusbennetti
4,47.0,Nonpasseriformes,Casuariiformes,Casuariidae,Cassowaries,4.0,BL3,Casuarius unappendiculatus,Northern Cassowary,20.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,northerncassowary,casuariusunappendiculatus

In [116]:
id_merge = df.merge(ranges, how='left', right_on='id', left_on='id')
id_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9597 entries, 0 to 9596
Data columns (total 100 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   SpecID                         9597 non-null   float64
 1   PassNonPass                    9597 non-null   object
 2   IOCOrder                       9597 non-null   object
 3   BLFamilyLatin                  9597 non-null   object
 4   BLFamilyEnglish                9597 non-null   object
 5   BLFamSequID                    9597 non-null   float64
 6   Taxo                           9597 non-null   object
 7   Scientific                     9597 non-null   object
 8   English                        9597 non-null   object
 9   Diet-Inv                       9597 non-null   float64
 10  Diet-Vend                      9597 non-null   float64
 11  Diet-Vect                      9597 non-null   float64
 12  Diet-Vfish                     9597 non-null   float64
 13  Diet-Vunk                      9597 non-null   float64
 14  Diet-Scav                      9597 non-null   float64
 15  Diet-Fruit                     9597 non-null   float64
 16  Diet-Nect                      9597 non-null   float64
 17  Diet-Seed                      9597 non-null   float64
 18  Diet-PlantO                    9597 non-null   float64
 19  Diet-5Cat                      9597 non-null   object
 20  Diet-Source                    9597 non-null   object
 21  Diet-Certainty                 9597 non-null   object
 22  Diet-EnteredBy                 9325 non-null   object
 23  ForStrat-watbelowsurf          9597 non-null   float64
 24  ForStrat-wataroundsurf         9597 non-null   float64
 25  ForStrat-ground                9597 non-null   float64
 26  ForStrat-understory            9597 non-null   float64
 27  ForStrat-midhigh               9597 non-null   float64
 28  ForStrat-canopy                9597 non-null   float64
 29  ForStrat-aerial                9597 non-null   float64
 30  PelagicSpecialist              9597 non-null   float64
 31  ForStrat-Source                9597 non-null   object
 32  ForStrat-SpecLevel             9597 non-null   float64
 33  ForStrat-EnteredBy             9597 non-null   object
 34  Nocturnal                      9597 non-null   float64
 35  BodyMass-Value                 9597 non-null   float64
 36  BodyMass-Source                9597 non-null   object
 37  BodyMass-SpecLevel             9597 non-null   float64
 38  BodyMass-Comment               330 non-null    object
 39  Record-Comment                 225 non-null    object
 40  English name_x                 9597 non-null   object
 41  Family                         9597 non-null   object
 42  Global IUCN Red List Category  9597 non-null   object
 43  endemic_breeding               9597 non-null   float64
 44  migratory                      9597 non-null   float64
 45  africa                         9597 non-null   float64
 46  antarctica                     9597 non-null   float64
 47  asia                           9597 non-null   float64
 48  australasia                    9597 non-null   float64
 49  caribbean                      9597 non-null   float64
 50  central_amer                   9597 non-null   float64
 51  central_asia                   9597 non-null   float64
 52  europe                         9597 non-null   float64
 53  high_seas                      9597 non-null   float64
 54  mid_east                       9597 non-null   float64
 55  north_amer                     9597 non-null   float64
 56  oceania                        9597 non-null   float64
 57  south_amer                     9597 non-null   float64
 58  agriculture_threat             9597 non-null   float64
 59  biological_threat              9597 non-null   float64
 60  climate_change_threat          9597 non-null   float64
 61  energy_mining_threat           9597 non-null   float64
 62  geological_threat              9597 non-null   float64
 63  human_intrusions_threat        9597 non-null   float64
 64  natural_systems_threat         9597 non-null   float64
 65  pollution_threat               9597 non-null   float64
 66  res_comm_dev_threat            9597 non-null   float64
 67  transportation_threat          9597 non-null   float64
 68  invasive_threat                9597 non-null   float64
 69  artificial_aquatic             9597 non-null   float64
 70  artificial_terrestrial         9597 non-null   float64
 71  caves_subterranean             9597 non-null   float64
 72  desert                         9597 non-null   float64
 73  forest                         9597 non-null   float64
 74  grassland                      9597 non-null   float64
 75  introduced_vegetation          9597 non-null   float64
 76  marine_coastal_supratidal      9597 non-null   float64
 77  marine_intertidal              9597 non-null   float64
 78  marine_neritic                 9597 non-null   float64
 79  marine_oceanic                 9597 non-null   float64
 80  rocky_areas                    9597 non-null   float64
 81  savanna                        9597 non-null   float64
 82  shrubland                      9597 non-null   float64
 83  wetlands_inland                9597 non-null   float64
 84  eng_id_x                       9597 non-null   object
 85  id                             9597 non-null   object
 86  11.1                           7915 non-null   float64
 87  10.2                           7916 non-null   float64
 88  Rank                           7917 non-null   object
 89  SP; Extinct (†)                10 non-null     object
 90  English name_y                 7917 non-null   object
 91  Counters                       7917 non-null   object
 92  Scientific Name                7917 non-null   object
 93  Authority                      7917 non-null   object
 94  Breeding Range                 7917 non-null   object
 95  Nonbreeding Range              576 non-null    object
 96  Code                           1117 non-null   object
 97  Comment                        1128 non-null   object
 98  breeding_range                 7592 non-null   object
 99  eng_id_y                       7917 non-null   object
dtypes: float64(67), object(33)
memory usage: 7.4+ MB

In [109]:
ranges['eng_id'] = ranges['English name'].map(lambda x: x.replace("\'", "").replace(" ", "").replace("-", "").lower())

In [110]:
df['eng_id'] = df['English name'].map(lambda x: x.replace("\'", "").replace(" ", "").replace("-", "").lower())

In [117]:
eng_id_merge = df.merge(ranges, how='left', right_on='eng_id', left_on='eng_id')

In [96]:
eng_id_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9597 entries, 0 to 9596
Data columns (total 98 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   SpecID                         9597 non-null   float64
 1   PassNonPass                    9597 non-null   object
 2   IOCOrder                       9597 non-null   object
 3   BLFamilyLatin                  9597 non-null   object
 4   BLFamilyEnglish                9597 non-null   object
 5   BLFamSequID                    9597 non-null   float64
 6   Taxo                           9597 non-null   object
 7   Scientific                     9597 non-null   object
 8   English                        9597 non-null   object
 9   Diet-Inv                       9597 non-null   float64
 10  Diet-Vend                      9597 non-null   float64
 11  Diet-Vect                      9597 non-null   float64
 12  Diet-Vfish                     9597 non-null   float64
 13  Diet-Vunk                      9597 non-null   float64
 14  Diet-Scav                      9597 non-null   float64
 15  Diet-Fruit                     9597 non-null   float64
 16  Diet-Nect                      9597 non-null   float64
 17  Diet-Seed                      9597 non-null   float64
 18  Diet-PlantO                    9597 non-null   float64
 19  Diet-5Cat                      9597 non-null   object
 20  Diet-Source                    9597 non-null   object
 21  Diet-Certainty                 9597 non-null   object
 22  Diet-EnteredBy                 9325 non-null   object
 23  ForStrat-watbelowsurf          9597 non-null   float64
 24  ForStrat-wataroundsurf         9597 non-null   float64
 25  ForStrat-ground                9597 non-null   float64
 26  ForStrat-understory            9597 non-null   float64
 27  ForStrat-midhigh               9597 non-null   float64
 28  ForStrat-canopy                9597 non-null   float64
 29  ForStrat-aerial                9597 non-null   float64
 30  PelagicSpecialist              9597 non-null   float64
 31  ForStrat-Source                9597 non-null   object
 32  ForStrat-SpecLevel             9597 non-null   float64
 33  ForStrat-EnteredBy             9597 non-null   object
 34  Nocturnal                      9597 non-null   float64
 35  BodyMass-Value                 9597 non-null   float64
 36  BodyMass-Source                9597 non-null   object
 37  BodyMass-SpecLevel             9597 non-null   float64
 38  BodyMass-Comment               330 non-null    object
 39  Record-Comment                 225 non-null    object
 40  English name_x                 9597 non-null   object
 41  Family                         9597 non-null   object
 42  Global IUCN Red List Category  9597 non-null   object
 43  endemic_breeding               9597 non-null   float64
 44  migratory                      9597 non-null   float64
 45  africa                         9597 non-null   float64
 46  antarctica                     9597 non-null   float64
 47  asia                           9597 non-null   float64
 48  australasia                    9597 non-null   float64
 49  caribbean                      9597 non-null   float64
 50  central_amer                   9597 non-null   float64
 51  central_asia                   9597 non-null   float64
 52  europe                         9597 non-null   float64
 53  high_seas                      9597 non-null   float64
 54  mid_east                       9597 non-null   float64
 55  north_amer                     9597 non-null   float64
 56  oceania                        9597 non-null   float64
 57  south_amer                     9597 non-null   float64
 58  agriculture_threat             9597 non-null   float64
 59  biological_threat              9597 non-null   float64
 60  climate_change_threat          9597 non-null   float64
 61  energy_mining_threat           9597 non-null   float64
 62  geological_threat              9597 non-null   float64
 63  human_intrusions_threat        9597 non-null   float64
 64  natural_systems_threat         9597 non-null   float64
 65  pollution_threat               9597 non-null   float64
 66  res_comm_dev_threat            9597 non-null   float64
 67  transportation_threat          9597 non-null   float64
 68  invasive_threat                9597 non-null   float64
 69  artificial_aquatic             9597 non-null   float64
 70  artificial_terrestrial         9597 non-null   float64
 71  caves_subterranean             9597 non-null   float64
 72  desert                         9597 non-null   float64
 73  forest                         9597 non-null   float64
 74  grassland                      9597 non-null   float64
 75  introduced_vegetation          9597 non-null   float64
 76  marine_coastal_supratidal      9597 non-null   float64
 77  marine_intertidal              9597 non-null   float64
 78  marine_neritic                 9597 non-null   float64
 79  marine_oceanic                 9597 non-null   float64
 80  rocky_areas                    9597 non-null   float64
 81  savanna                        9597 non-null   float64
 82  shrubland                      9597 non-null   float64
 83  wetlands_inland                9597 non-null   float64
 84  eng_id                         9597 non-null   object
 85  11.1                           8735 non-null   float64
 86  10.2                           8736 non-null   float64
 87  Rank                           8738 non-null   object
 88  SP; Extinct (†)                7 non-null      object
 89  English name_y                 8738 non-null   object
 90  Counters                       8738 non-null   object
 91  Scientific Name                8738 non-null   object
 92  Authority                      8738 non-null   object
 93  Breeding Range                 8738 non-null   object
 94  Nonbreeding Range              670 non-null    object
 95  Code                           1583 non-null   object
 96  Comment                        1602 non-null   object
 97  breeding_range                 8332 non-null   object
dtypes: float64(67), object(31)
memory usage: 7.2+ MB

In [118]:
eng_id_merge['breeding_range'].isna().sum()

1265

In [119]:
id_merge['breeding_range'].isna().sum()

2005

## duplicates?

In [106]:
len(ranges['Scientific Name'].unique())

11072